<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>react-debounce-iframe</title>
    <style>
    html, body {
      padding: 10px;
    }
    .btn {
      margin-right: 3px;
      margin-bottom: 3px;
    }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>